<aside class="main-sidebar md-whiteframe-z2">
	<header class="sidebar-heading">
		<%= link_to root_path, :class => "logo" do %>
		  <span class="logo-mini">
		  	<b>a</b>dm
		  </span>
			<span class="logo-lg">
				<b>admin</b>istrate
			</span>
		<% end %>
	</header>
	<div class="sidebar-content md-content flex" data-plugin="ps">
		<nav class="side-nav">
			<ul class="sidebar-menu tree nav nav-stacked" data-plugin="metis">
				<li class="tree-item nav-item">
					<a href="#" class="tree-link nav-link" aria-expanded="false">
						<%= mi.reorder %>
						<span class="nav-title">From Loop</span>
						<span class="nav-tools"><%= mi.chevron_left %></span>
					</a>
					<ul class="nav-sub collapse nav-stacked" aria-expanded="false">
						<li><a href="#">Sub item</a></li>
					</ul>
				</li>
				<li class="tree-item nav-item">
					<a href="#" class="tree-link nav-link active">
						<span class="nav-icon"><i class="material-icons">rowing</i></span>
						<span class="nav-title">From Loop</span>
					</a>
				</li>
				<li class="tree-item nav-item">
					<a href="#" class="tree-link nav-link" aria-expanded="false">
						<%= mi.reorder %>
						<span class="nav-title">From Loop</span>
						<span class="nav-tools"><%= mi.chevron_left %></span>
					</a>
					<ul class="nav-sub collapse nav-stacked" aria-expanded="false">
						<li><a href="#">Sub item</a></li>
					</ul>
				</li>
				<% $nav.each do |i| %>
					<li class="tree-item nav-item">
						<a href="#" class="tree-link nav-link">
							<span class="nav-icon"><i class="material-icons"><%= i %></i></span>
							<span class="nav-title">From Loop</span>
						</a>
					</li>
				<% end %>
			</ul>
		</nav>
	</div>
</aside>
