<aside class="main-sidebar md-whiteframe-z2">
	<header class="sidebar-heading">
		<%= link_to root_path, :class => "logo" do %>
		  <span class="logo-mini">
		  	<b>a</b>dm
		  </span>
			<span class="logo-lg">
				<b>admin</b>istrate
			</span>
		<% end %>
	</header>
	<div class="sidebar-content md-content flex" data-plugin="ps">
		<nav class="side-nav">
			<ul class="sidebar-menu tree nav nav-stacked" data-plugin="metis">
				<li class="tree-item nav-item">
					<%= link_to root_path, :class => "tree-link nav-link" do %>
						<span class="nav-icon"><i class="material-icons">build</i></span>
						<span class="nav-title">Index</span>
					<% end %>
				</li>
				<li class="tree-item nav-item">
					<%= link_to theme_path, :class => "tree-link nav-link" do %>
						<span class="nav-icon"><i class="material-icons">class</i></span>
						<span class="nav-title">Theme</span>
					<% end %>
				</li>
				<li class="tree-item nav-item">
					<%= link_to login_path, :class => "tree-link nav-link" do %>
						<span class="nav-icon"><i class="material-icons">work</i></span>
						<span class="nav-title">Login</span>
					<% end %>
				</li>
				<li class="tree-item nav-item">
					<%= link_to register_path, :class => "tree-link nav-link" do %>
						<span class="nav-icon"><i class="material-icons">data_usage</i></span>
						<span class="nav-title">Register</span>
					<% end %>
				</li>
			</ul>
		</nav>
	</div>
</aside>
